In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [27]:
print ('Для workclass пустых строк {}'.format( len( data[ data['workclass'] == '?' ] ) ) )
print ('Для education пустых строк {}'.format( len( data[ data['education'] == '?' ] ) ) )
print ('Для marital-status пустых строк {}'.format( len( data[ data['marital-status'] == '?' ] ) ) )
print ('Для occupation пустых строк {}'.format( len( data[ data['occupation'] == '?' ] ) ) )
print ('Для relationship пустых строк {}'.format( len( data[ data['relationship'] == '?' ] ) ) )
print ('Для race пустых строк {}'.format( len( data[ data['race'] == '?' ] ) ) )
print ('Для gender пустых строк {}'.format( len( data[ data['gender'] == '?' ] ) ) )
print ('Для native-country пустых строк {}'.format( len( data[ data['native-country'] == '?' ] ) ) )

Для workclass пустых строк 2799
Для education пустых строк 0
Для marital-status пустых строк 0
Для occupation пустых строк 2809
Для relationship пустых строк 0
Для race пустых строк 0
Для gender пустых строк 0
Для native-country пустых строк 857

In [4]:
print ('Для age равных нулю {}'.format( len( data[ data['age'] == 0 ] ) ) )

Для age равных нулю 0

In [5]:
data['workclass'].value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [6]:
data['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [8]:
len( data[ data['workclass'] == data['occupation'] ] )

2799

__occupation и workclass возможно несут одинаковый смысл. все пропуски в workclass являются пропусками в occupation. occupation более описательна, поэтому в модель оставим именно occupation.__

In [10]:
data['marital-status'].value_counts()

Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

In [11]:
data['relationship'].value_counts()

Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

__marital-status и relationship возможно несут схожий смысл, marital-status выглядит менее информативным__

In [12]:
data['race'].value_counts()

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

In [13]:
data['gender'].value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

In [14]:
data['native-country'].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Yugoslavia                       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

__пропуски в native-country оставим, как есть - '?'__

In [15]:
data['age'].describe()

count    48842.000000
mean        38.643585
std         13.710510
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [16]:
data['fnlwgt'].describe()

count    4.884200e+04
mean     1.896641e+05
std      1.056040e+05
min      1.228500e+04
25%      1.175505e+05
50%      1.781445e+05
75%      2.376420e+05
max      1.490400e+06
Name: fnlwgt, dtype: float64

In [17]:
data['educational-num'].describe()

count    48842.000000
mean        10.078089
std          2.570973
min          1.000000
25%          9.000000
50%         10.000000
75%         12.000000
max         16.000000
Name: educational-num, dtype: float64

In [18]:
data['educational-num'].value_counts()

9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: educational-num, dtype: int64

In [19]:
data['education'].value_counts()

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

__educational-num и education соответствуют друг другу. 
сомневаюсь, что количество классов может линейно влиять на доход, поэтому оставляем категориальную колонку.__

In [21]:
data['capital-gain'].describe()

count    48842.000000
mean      1079.067626
std       7452.019058
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital-gain, dtype: float64

In [23]:
len(data[data['capital-gain'] > 0])

4035

In [24]:
data['capital-loss'].describe()

count    48842.000000
mean        87.502314
std        403.004552
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital-loss, dtype: float64

In [25]:
len(data[data['capital-loss'] > 0])

2282

In [26]:
data['hours-per-week'].describe()

count    48842.000000
mean        40.422382
std         12.391444
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [27]:
from sklearn.linear_model import LogisticRegression

In [309]:
selectedColumns = data[ [ 'age', 'education', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income' ] ]
X = pd.get_dummies( selectedColumns, columns = [ 'education', 'occupation', 'relationship', 'race', 'gender', 'native-country' ] )
del X['income']
X.head()

,age,capital-gain,capital-loss,hours-per-week,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,0,0,40,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,0,0,50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,0,0,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,7688,0,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,18,0,0,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [310]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [311]:
le.fit( data['income'] )

LabelEncoder()

In [312]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [313]:
y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [314]:
model = LogisticRegression()

In [315]:
model.fit( X, y )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [316]:
predictions = model.predict_proba( X )

In [317]:
predictions[:5]

array([[ 0.99695413,  0.00304587],
       [ 0.89484726,  0.10515274],
       [ 0.62337604,  0.37662396],
       [ 0.2415254 ,  0.7584746 ],
       [ 0.99738273,  0.00261727]])

In [318]:
zip( predictions[:, 1], y )

In [319]:
model.score(X, y)

0.85102985135743825